@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="text-center" style="padding-top: 10%">
    <h1>Thanks for using JJ-PPM.</h1>
    <p class="mt-3">You're all logged out successfully.</p>
</div>
