@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="row justify-content-md-center">
    <h1>Thanks for using JJ-PPM.</h1>
</div>
<div class="row justify-content-md-center mt-3">
    <p>You're all logged out successfully.</p>
</div>
