/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* JH, 2020-08-28, hover event for navigation item */
nav.navbar-light ul.navbar-nav li a:hover,
nav.navbar-light ul.navbar-nav li button:hover {
  color: #ff8400 !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /* JH, 2020-09-03 */
  font-family: 'Roboto', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Defined color code */
.project-board-bg-color {
  background: #e3e2df;
}

/* Jialing */
#projectitem {
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: lightskyblue;
}

/* modified by JH, because of confliction against menu-item */
#projectitem .btn {
  margin: 5px;
}

/* form error */
.input-validation-error,
.input-validation-error:focus {
  background: #ffccba;
  color: #d63301;
}
.form-control.input-validation-error:focus {
  border-color: #d63301;
  box-shadow: 0 0 0 0.2rem rgba(255, 123, 123, 0.5);
}
.field-validation-error {
  color: #be3e16;
}

/* JH, 2020-09-03 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Kumbh Sans', sans-serif;
}
