/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* JH, color code */
:root {
  --jj-black: #17252a;
  --jj-dark-green: #2b7a78;
  --jj-green: #3aafa9;
  --jj-light-green: #def2f1;
  --jj-white: #feffff;
  --jj-orange: #ff8400;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* JH, 2020-08-28, hover event for navigation item */
nav ul.navbar-nav li a:hover,
nav ul.navbar-nav li button:hover {
  color: var(--jj-white) !important;
  font-weight: bold;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
  /* JH, 2020-09-03 */
  font-family: 'Roboto', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 50px; /* Vertically center the text there */
}

/* Defined color code */
.project-board-bg-color {
  background-color: #e3e2df;
  /* background-color: var(--jj-light-green); */
}

.task-footer {
  display: none;
}

div.project-board-bg-color .card:hover .task-footer {
  display: block;
}

/* Jialing */
#project-item {
  padding: 20px;
  border: 1px solid var(--jj-dark-green);
  border-radius: 4px;
  color: var(--jj-black);
}

#project-item .project-actions {
  display: none;
}

/* #project-item .project-date {
  position: absolute;
  bottom: 0;
} */

#project-item:hover {
  background-color: var(--jj-light-green);
}

#project-item:hover .project-actions {
  display: block;
}

/* modified by JH, because of confliction against menu-item */
/* #project-item .btn {
  margin: 5px;
} */

/* form error */
.input-validation-error,
.input-validation-error:focus {
  background: #ffccba;
  color: #d63301;
}
.form-control.input-validation-error:focus {
  border-color: #d63301;
  box-shadow: 0 0 0 0.2rem rgba(255, 123, 123, 0.5);
}
.field-validation-error {
  color: #be3e16;
}

/* JH, 2020-09-03 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Kumbh Sans', sans-serif;
  color: var(--jj-black);
}

.jj-navbar-bg {
  background-color: var(--jj-green) !important;
}

.jj-text-white {
  color: var(--jj-light-green);
}

.jj-btn-primary {
  background-color: var(--jj-black);
  color: var(--jj-white);
}
