@page
@model JJPPM.Pages.CreateModel
@{
    ViewData["Title"] = "Add a new project";
}


<h1>Add a new project</h1>
<form method="post">
  <div class="form-group">
    <label asp-for="ProjectName"></label>
    <input asp-for="ProjectName" class="form-control form-control-sm" />                
    <span asp-validation-for="ProjectName"></span>
  </div>

  <div class="form-group">
    <label asp-for="Description"></label>
    <input asp-for="Description" class="form-control form-control-sm" />                
    <span asp-validation-for="Description"></span>
  </div>

   <div class="form-group">
    <label asp-for="StartDate"></label>
    <input asp-for="StartDate" class="form-control form-control-sm" type="datetime-local" />
    <span asp-validation-for="StartDate"></span>
  </div>

  <div class="form-group">
    <label asp-for="DueDate"></label>
    <input asp-for="DueDate" class="form-control form-control-sm" type="datetime-local" />
    @* JH, 2020-08-31 *@
    @* Same as above *@
    @* @Html.TextBoxFor(m => m.DueDate, "{0:yyyy-MM-ddTHH:mm}", new { @class = "form-control form-control-sm", type = "datetime-local" }) *@
    <span asp-validation-for="DueDate"></span>
  </div>
  
  <p class="actions">
    @* <input type="hidden" asp-for=".Id" /> *@
    <button class="btn btn-primary order-button">Add</button>
  </p>
</form>
@section scripts{
  <partial name="_ValidationScriptsPartial"></partial>

  <script>

//    $(".datepicker").datetimepicker({ format: 'dd/mm/yyyy', autoclose: true, todayBtn: 'linked' })
//    $(function() {
//      $('#datetimepicker').datetimepicker();
//    });
  </script>
}