@page "{handler?}/{currentpage?}/{sort?}/{sortOrder?}"
@model JJPPM.Pages.ProjectsModel
@{
}

<h1 class="h1">My Projects</h1>
<a class="btn btn-primary" asp-page="/Create">Create a Project</a>

<div class="d-flex justify-content-end">
    <div class="form-group mr-2">
        <label for="sort">Sorted by </label>
        <select id="sort" name="sort" class="form-control-sm">
            <option value="1">Start Date</option>
            <option value="2">Due Date</option>
            <option value="3">Project Name</option>
        </select>
    </div>
    <div class="form-group mr-3">
        <select id="sort-order" name="sort" class="form-control-sm">
            <option value="1">Ascending</option>
            <option value="2">Descending</option>
        </select>
    </div>
    @* For pagination *@
    <ul class="pagination pagination-sm justify-content-end">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")" value="@i">
                <a class="page-link">@i</a>
            </li>
        }
    </ul>
</div>
<hr class="mt-0">
@* loading for partial page *@
<section id="projects-list"></section>

@section scripts{
    <script>
        const loadProjects = (currentPage, sortType, sortOrder) => {
            $('#projects-list')
                .load('/Projects/ProjectsPartial/' 
                + currentPage + '/' + sortType + '/' + sortOrder, function() {
                $('[data-toggle="tooltip"]').tooltip();
            });
        }

        $(function () {
            $('.page-item').on('click', function () {
                $('.page-item').removeClass('active');
                $(this).addClass('active');
                
                const currentPage = $(this).attr('value');
                const sortType = $('#sort').val();
                const sortOrder = $('#sort-order').val();
                loadProjects(currentPage, sortType, sortOrder);
            });
        });

        $(function () {
            $('#sort').change(function () {
                const currentPage = $('.page-item.active').attr('value');
                const sortType = $('#sort').val();
                const sortOrder = $('#sort-order').val();
                loadProjects(currentPage, sortType, sortOrder);
            });
        });

        $(function () {
            $('#sort-order').change(function () {
                const currentPage = $('.page-item.active').attr('value');
                const sortType = $('#sort').val();
                const sortOrder = $('#sort-order').val();
                loadProjects(currentPage, sortType, sortOrder);
            });
        });        

        $(window).bind('load', function() { 
           loadProjects(1);
        });
    </script>
}