@page
@model JJPPM.Pages.TaskDeleteModel
@{
}

<h2>You are going to delete the task @Model.Id</h2>
<h2>Are you sure you want to delete the task?</h2>

<div class="col-sm-3">
    <a class="col btn btn-danger" asp-page-handler="Delete">Delete Task</a>                                                                             
</div>