@page
@model JJPPM.Pages.UpdateSuccessModel
@{
}
<div class="text-center">
  <h1 class="display-3">Project Update Success!</h1>
  <p class="lead">
    <a class="btn btn-primary btn-sm" asp-page="/Projects" role="button">Back to homepage</a>
  </p>
</div>