@page
@model JJPPM.Pages.UpdateSuccessModel
@{
  ViewData["Title"] = "Success";
}
<div class="text-center" style="padding-top: 10%;">
  <h1>Project was updated successfully</h1>
  <p class="lead mt-3">
    <a class="btn btn-primary" asp-page="/Projects" role="button">Back to homepage</a>
  </p>
</div>