@page
@model JJPPM.Pages.UpdateModel

@{
}

<h1>Update Project</h1>
<form method="post">
  <div class="form-group">
    <label asp-for="ProjectName"></label>
    <input asp-for="ProjectName" class="form-control form-control-sm" value=@Model.ProjectName />
    <span asp-validation-for="ProjectName"></span>
  </div>
  <div class="form-group">
    <label asp-for="Description"></label>
    <textarea asp-for="Description" class="form-control form-control-sm" value=@Model.Description ></textarea>
    <span asp-validation-for="Description"></span>
  </div>
  <div class="form-group">
    <label asp-for="StartDate">Current Start Date: @Model.StartDate</label>
    <input asp-for="StartDate" type="datetime-local" class="form-control form-control-sm" />
    <span asp-validation-for="StartDate"></span>
  </div>
  <div class="form-group">
    <label asp-for="DueDate"></label>
    <input asp-for="DueDate" type="datetime-local" class="form-control form-control-sm" />
    <span asp-validation-for="DueDate"></span>
  </div>
  <p class="actions d-flex">
    <input type="hidden" value=@Model.Id />
    <input class="btn btn-warning" type="submit" value="UPDATE" />
    <input class="btn btn-outline-secondary ml-1" type="reset" value="RESET" />
    <a class="btn btn-outline-secondary ml-auto" asp-page="/Projects">BACK TO PROJECT LIST</a>
  </p>
</form>
@section scripts{
<partial name="_ValidationScriptsPartial"></partial>
}