@page
@model Bakery.Pages.WelcomeModel
@{
  ViewData["Title"] = "Welcome";  
}
<div class="text-center" style="padding-top: 10%;">
  <h1 class="display-4">Personal Project Management</h1>
  <p>Create your account to manage your projects or Start with your own.</p>
  <hr>
  <a class="btn btn-lg btn-primary mr-2" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
  <a class="btn btn-lg btn-secondary mr-2" asp-area="Identity" asp-page="/Account/Login">Login</a>
</div>